body{
    background: rgb(224, 228, 18);
}
h1{
    background: rgb(112, 21, 187);
font-size: 25px;}
.container{
    height: 500px;
    object-fit: cover
}
footer{
    color: rgb(224, 19, 173);
    line-height: 100px;
    background: rgb(244, 228, 18);
}